#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.navbar {
  background-color: rgb(240, 100, 20);
  color: rgb(235, 225, 225);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1rem;
}
