#root {
  /* margin: 0 auto; */
  padding: 2rem 8%;
}

.navbar {
  background-color: #f06414;
  color: rgb(235, 225, 225);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}
